// Settings
.reports-list-group {
  .list-group-item {
    font-size: 15.5px;
  }
  .active-list {
    border-left: 4px solid #CF9451;
    font-weight: bold;
  }
}

.page-heading-reports {
  font-size: 34px;
  border-bottom: 1px solid #D5D0D0;
  margin-bottom: 23px;
  padding-bottom: 7px;
}

.alert h4 {
  margin-top: 9px !important;
}