// Settings
.reports-list-group {
  .list-group-item {
    font-size: 15.5px;
  }
  .active-list {
    border-left: 4px solid #CF9451;
    font-weight: bold;
  }
}

.page-heading-reports {
  font-size: 34px;
  border-bottom: 1px solid #D5D0D0;
  margin-bottom: 23px;
  padding-bottom: 7px;
}

.alert h4 {
  margin-top: 9px !important;
}

.select2-container {
  .select2-selection--single { height: 36px !important; }
  .select2-selection__rendered { line-height: 35px !important; }
  .select2-selection__arrow { height: 36px !important; }
}
.select2-results {
  ul.select2-results__options {
    li.select2-results__option { width: 100%; }
  }
}

@media(max-width: 480px) {
  #charts {
    .pie_charts {
      margin-top: 10px;
      padding-bottom: 25px;
      // border-bottom: 1px solid #FDC1C1;
    }
    .pie_charts.last-chart {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}

@media(max-width: 1024px) {
  #profitability_reports {
    margin-top: 35px;
  }
}
