<div class="modal emp_modal fade" id="new_employee_with_<%= unregistered_emp_index %>">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Create New Employee
        </h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <%= button_tag "Cancel", class: "btn btn-default", type: "button", onclick: "EmployeeFormDetail.closeEmployeeForm(this);" %>
        <%= button_tag "Submit", class: "btn btn-info", type: "button", onclick: "EmployeeFormDetail.submitEmpForm(this);" %>
      </div>
    </div>
  </div>
</div>
