<% content_for :reports do %>
	<div class="page-header">
		<h2>Division <small>Report</small></h2>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-6">
			<%= form_tag reports_division_report_path, method: :get do %>
				<ul class="list-inline">
					<li><%= text_field_tag :month, nil, id: "report_month", class: "form-control", placeholder: "Select Date" %></li>
				</ul>
			<% end %>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6">
			
		</div>
	</div>
	<!-- <div id="chartContainer" style="height: 300px; width: 100%;"></div> -->

<script type="text/javascript">
	// window.onload = function () {
	// 	var chart = new CanvasJS.Chart("chartContainer",
	// 	{
	// 		title:{
	// 			text: "Top Categoires of New Year's Resolution"
	// 		},
	// 		exportFileName: "Pie Chart",
	// 		exportEnabled: true,
 //        animationEnabled: true,
	// 		legend:{
	// 			verticalAlign: "bottom",
	// 			horizontalAlign: "center"
	// 		},
	// 		data: [
	// 			{       
	// 				type: "pie",
	// 				showInLegend: true,
	// 				toolTipContent: "{legendText}: <strong>{y}%</strong>",
	// 				indexLabel: "{label} {y}%",
	// 				dataPoints: [
	// 					{  y: 35, legendText: "Health", exploded: true, label: "Health" },
	// 					{  y: 20, legendText: "Finance", label: "Finance" },
	// 					{  y: 18, legendText: "Career", label: "Career" },
	// 					{  y: 15, legendText: "Education", label: "Education"},
	// 					{  y: 5, legendText: "Family", label: "Family" },
	// 					{  y: 7, legendText: "Real Estate", label: "Real Estate"}
	// 				]
	// 			}
	// 		]
	// 	});
	// 	chart.render();
	// }
</script>

<% end %>