/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require sweetalert
 *= require loader-animation
 
 *= require font-awesome

 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 
 *= require bootstrap-datepicker3
 *= require bootstrap-datepicker3.standalone
	
 *= require awesome-bootstrap-checkboxes
 
 *= require bootstrap-switch
 *= require bootstrap-switch.min

 *= require jquery.bootstrap-touchspin.min
 *= require jquery.bootstrap-touchspin
	
 *= require boostrap-select2
 *= require jasny-bootstrap

 *= require bootstrapValidator.min

 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
// @import "bootstrap";
// @import "bootstrap-sprockets";

// Example using 'Simplex' bootswatch

// Datables Css
// require dataTables/extras/dataTables.responsive
// require dataTables/jquery.dataTables

//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/simplex/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/simplex/bootswatch";

// Font Awesome
@import "font-awesome-sprockets";
@import "font-awesome";

// Purr Alert css
.purrAlert {
	position: fixed;  
  top: 70px;  
  right: 150px;
  border-radius: 4px;
  color: #fff;
  z-index: 10000;
  padding-left: 10px;
  @media(min-width: 1024px) {
    width: 20%;
  }
  @media(max-width: 760px) {
    right: 0;
    left:0;
    margin-left: 10px;
    margin-right: 10px;
  }
  .divider-purr {
    border-right: 2px solid;
  }
  span { font-size: 29px; }
  .purr-left {
    @media(max-width: 760px) {
      width: 37px;
      padding: 0;
      margin-left: 22px;
    }
  }
  .purr-icon {
    text-align: center;
    padding: 8px 0px 7px 0px;
  }
  .purr-msg {
    padding: 8px 0px 7px 0px;
  }
}

.purr_danger {
  border: solid 1px #CA3B3B;
  background-color: #F2DEDE;
  color: #962A2A;
}
.purr_success {
  border: solid 1px #177911;
  background-color: #DFF0D8;
  color: #2F7B0F;
}
.purr_warning { 
  border: solid 1px #AB920F;
  background-color: #FCF8E3;
  color: #796912;
}
.purr_info {  
  border: solid 1px #1B77A5;
  background-color: #D9EDF7;
  color: #155C80;
}


