@mixin scrollable-height($height) {
  height: $height;
}

@media(max-width:760px) {
  .table-scrollable {
    float: left;
    width: 100%;
    position: relative;
    overflow-X: scroll;
    @include scrollable-height(200px);
  }
}


// HOME CSS
.navbar-brand {
  padding-top: 5px !important;
  img {
    width: 60px;
  }
}

// Sync Button
.sync_link {
  font-size: 15px !important;
}

blockquote.page-heading { 
  margin-top: 40px; 
  p { 
    font-size: 45px; 
    small { font-size: 15px; }
  } 
}

main { 
  min-height: 620px;
}
.sessions { 
  padding-top: 120px;
}
// Best in place Purr css 
.purr {  
  position: fixed;  
  top: 70px;  
  right: 150px;  
  // width: 300px;  
  padding: 15px;
  border-radius: 4px;  
  border: solid 1px #000;
  color: #fff;
  background-color: #d9534f;
  // &:first-letter { text-transform: uppercase };  
  z-index: 1;
}

.btn { margin-bottom: 4px !important; }

// Media For Mobile
@media(max-width: 480px) {
  .sync_link { font-size: 10px !important; }
  .btn-reset { margin-top: 9px; }
  .btn-right { margin-top: 10px; }
  .jumbotron {
    padding-left: 22px;
    padding-right: 22px;
  }

  .purr {
    right: 15%;
    left: 15%;
    text-align: center;
  }
}
.btn-right {
  margin-right: 7px;
}