#total_no_days_alert	{
	margin-bottom: 0px;
	padding: 5px 9px 5px 9px;
  margin-top: 12px;
  font-size: 9px;
  font-weight: bold;
}
.bootstrap-switch {
  margin-bottom: 10px;
}
#invoice_employees_select {
	display: none;
}
.invoice_label {
	font-size: 13px;    
	margin-bottom: 9px;
  margin-top: 10px; 
}

#invoices_table {
	tr > th, td {
    text-align: center;
	}
}

#side_bar_opener{
	a {
		color: #fff;
	}
  position: absolute;
  top: 168px;
  left: 485px;
  background-color: #907B23;
  padding: 10px 8px 10px 9px;
  border-radius: 0px 3px 4px 0px;
}

.d_btn {
  margin-top: 10px;
}
