#total_no_days_alert	{
	margin-bottom: 0px;
	padding: 5px 9px 5px 9px;
  margin-top: 12px;
  font-size: 9px;
  font-weight: bold;
}
.bootstrap-switch {
  margin-bottom: 10px;
}
#invoice_employees_select {
	display: none;
}
.invoice_month_year_label { font-size: 11px; }