// @media(min-width: 1024px) {
//   #generate_invoices_board {
//     z-index: 1;
//     position: fixed;
//     width: 72%;
//   } 
//   .invoices_display {
//     margin-top: 270px;
//   }
// }


#total_no_days_alert	{
	margin-bottom: 0px;
	padding: 5px 9px 5px 9px;
  margin-top: 12px;
  font-size: 9px;
  font-weight: bold;
}
.bootstrap-switch {
  margin-bottom: 10px;
}
#invoice_employees_select {
	display: none;
}
.invoice_label {
	font-size: 13px;    
	margin-bottom: 9px;
  margin-top: 10px; 
}
.invoice_input { margin-top: 4px; }

#invoices_table {
	tr > th, td {
    text-align: center;
	}
}

#side_bar_opener{
	a {
		color: #fff;
	}
  position: absolute;
  top: 168px;
  left: 485px;
  background-color: #907B23;
  padding: 10px 8px 10px 9px;
  border-radius: 0px 3px 4px 0px;
}

.d_btn {
  margin-top: 10px;
  margin-right: 5px;
}

.table > thead > tr > td.for_total, .table > thead > tr > th.for_total, .table > thead > tr.for_total > td, .table > thead > tr.for_total > th, .table > tbody > tr > td.for_total, .table > tbody > tr > th.for_total, .table > tbody > tr.for_total > td, .table > tbody > tr.for_total > th, .table > tfoot > tr > td.for_total, .table > tfoot > tr > th.for_total, .table > tfoot > tr.for_total > td, .table > tfoot > tr.for_total > th {
    background-color: #882828;
    color: #fff;
}

.table-hover > tbody > tr > td.info:hover, .table-hover > tbody > tr > th.info:hover, .table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr:hover > .info, .table-hover > tbody > tr.info:hover > th {
    background-color: #c4e3f3;
}

.save_invoice_btn { margin: 50% 0px; }
.remove_invoice_btn { margin: 100% 0px; }

.scrollable-dropdown { max-height: 240px; overflow-x: scroll; }
