// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pull-left{
	float:left!important;
}
.pull-right{
	float:right!important;
}
.dataTables_wrapper {
	padding: 14px;
}

.table.dataTable {
  tbody { font-size: 14px; }
	// tr.odd, tr.even {
	// 	background-color: white;
	// 	td.sorting_1 { background-color: white !important; }
	// }
}
