<div class="modal fade" id="designation_rate_history_<%= designation_id %>">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">History of <strong><span id="designation_name"></span></strong></h4>
      </div>
      <div class="modal-body">
        <div id="rate_history_table">
          <%= render "rate_history_table", rates: @desig_rates %>
        </div>
      </div>
    </div>
  </div>
</div>