<% content_for :reports do %>
	<p>
		<div class="alert alert-success">
			<blockquote style="margin: 0 0 2px;">
				<h4><strong><i class="fa fa-flag"></i> Please Select Reports</strong></h4>
			</blockquote>
		</div>
	</p>
<% end %>