<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "foms_pdf" -%>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
  </head>
  <body onload='number_pages'>
    <div class="header">
      <%= wicked_pdf_image_tag 'folio3-logo.png' %>
      <div class="header-bottom"></div>
    </div>
    <div id="content">
      <p>
        Folio3 Software Inc., c/o Kathy Chao, C. G. Uhlenberg LLP, 333 Twin Dolphin Drive, Suite 230, Redwood CIty, CA  94065
      </p>
      <%= yield %>
    </div>
  </body>
</html>